.titulo{
    text-align: center;
}

.icon1, .icon2, .icon3, .icon4, .icon5, .icon6{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 20px;
}
.icon1{
    transition: all 0.3s ease-in-out;
}
.icon2{
    transition: all 0.4s ease-in-out;
}
.icon3{
    transition: all 0.5s ease-in-out;
}
.icon4{
    transition: all 0.6s ease-in-out;
}
.icon5{
    transition: all 0.7s ease-in-out;
}
.icon6{
    transition: all 0.8s ease-in-out;
}
.icon{
    display: grid;
    grid-template-rows: repeat(6, 1fr);
}
.footer{
    background: rgb(181,152,201);
    background: linear-gradient(90deg, rgba(181,152,201,1) 0%, rgba(240,173,78,1) 41%, rgba(246,80,80,1) 94%);
    margin-left: 90px;
    padding: 30px;
}

.icon:hover .icon1,
.icon:hover .icon2,
.icon:hover .icon3,
.icon:hover .icon4,
.icon:hover .icon5,
.icon:hover .icon6{
    transform: translateX(400px);
}